header(class="header")
    img(src="../assets/logo.svg")
    div(class="header-wrapper" id="bMenu")
        ul(class="header-wrapper__menu")
            li: a(href="#") Home
            li: a(href="#") About
            li: a(href="#") Contact
            li: a(href="#") Blog
            li: a(href="#") Careers
    label(class="header__icon-menu" onclick="myFunction()")