-var firstFooterLinks = ['About Us', 'Contact', 'Blog']
-var secondFooterLinks = ['Careers', 'Support', 'Privacy Policy']
-var socialIcons = ['./assets/icon-facebook.svg', './assets/icon-youtube.svg', './assets/icon-twitter.svg', './assets/icon-pinterest.svg', './assets/icon-instagram.svg']