.latest-articles {
    width: 100%;
    background-color: $primary-bkcolor;
    padding: 2.5em $wrapper-space;
    padding-top: 3em;
    h2 {
        @include texts($primary1, 1.8em, bold);
        padding: $wrapper-space/2 0;
    }
    .article-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        .article {
            border-radius: 5px;
            margin: $wrapper-space 0;
            background-color: $default-bkcolor;
            overflow: hidden;
            img {
                width: 100%;
                height: 200px;
            }
            .info-wrapper{
                display: flex;
                flex-direction: column;
                text-align: left;
                padding: 0 $wrapper-space $wrapper-space $wrapper-space;
                &__autor {
                    padding-top: $wrapper-space*2;
                    @include texts($letter-color, 0.6em, bold);
                    &::before {
                        content: "By ";
                    }
                }
                &__title {
                    padding: 0.5em 0;
                    @include texts($primary1, 0.9em, bold);
                }
                &__description {
                    @include texts($letter-color, 0.7em, bold);
                }
            }
        }
    }
    @include breakpoint(tablet) {
        padding: 2.5em $wrapper-space*3;
        h2 {
            text-align: left;
            padding: $wrapper-space/2 0;
        }
        .article-wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            justify-content: center;
            gap: 0 $wrapper-space;
        }
    }
    @include breakpoint(laptop) {
        padding: 2.5em $wrapper-space*5;
        .article-wrapper .article {
            width: 400px;
            .info-wrapper {
                &__title:hover {
                    cursor: pointer;
                    @include texts($primary2, 0.9em, bold);
                }
            }
        }
    }
    @include breakpoint(desktop-lg) {
        padding: 2.5em $wrapper-space*10;
        .article-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .article {
                margin: 40px 30px 40px 0px;
                width: 350px;
                .info-wrapper {
                    &__autor {
                        @include texts($letter-color, 0.7em, bold);
                    }
                    &__title {
                        @include texts($primary1, 1em, bold);
                    }
                    &__title:hover {
                        cursor: pointer;
                        @include texts($primary2, 1em, bold);
                    }
                    &__description {
                        @include texts($letter-color, 0.8em, bold);
                    }
                }
            }
        }
    }
}