.footer {
    width: 100%;
    background-color: $primary1;
    text-align: center;
    padding: $wrapper-space*2;
    &__social-media {
        width: 100%;
        color: #fff;
        text-align: center;
        margin: 0.5em 0;
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            li {
                list-style: none;
                padding: 0.5em 0.5em;
                -webkit-user-select:none;
                -moz-user-select:none;
                a {
                    text-decoration: none;
                    @include texts($default-bkcolor, 0.8em, bold);
                }
            }
        }
    }
    &__info-links {
        @extend .footer__social-media;
        &--first {
            ul {
                display: block;
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    padding: 0.3em 0;
                    a {
                        text-decoration: none;
                        @include texts($default-bkcolor, 0.8em, bold);
                    }
                }
            }
        }
        &--second {
            @extend .footer__info-links--first;
            ul {
                margin-bottom: $wrapper-space;
            }
        }
    }
    button {
        margin-bottom: 1.5em;
        @include buttons-style(160px, 40px, 0.8em, 'false');
    }
    span {
        display: block;
        @include texts($letter-color, 0.7em, bold);
    }
    @include breakpoint(laptop) {
        display: grid;
        grid-template-columns: auto auto auto 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "logo infoMenu infoMenuu button"
                            "socials infoMenu infoMenuu rights";
        gap: 0px $wrapper-space*2;
        padding: $wrapper-space*2 $wrapper-space*5;
        svg {
            grid-area: logo;
            align-self: center;
            justify-self: start;
        }
        &__social-media {
            grid-area: socials;
            align-self: start;
            justify-self: start;
            ul {
                justify-content: flex-start;
                li a:hover {
                    cursor: pointer;
                }
            }
        }
        &__info-links {
            &--first {
                grid-area: infoMenu;
                align-self: start;
                justify-self: start;
            }
            &--second {
                grid-area: infoMenuu;
                align-self: start;
                justify-self: start;
            }
            &--first ul li a:hover  {
                cursor: pointer;
                color: $primary2;
            }
        }
        button {
            grid-area: button;
            align-self: end;
            justify-self: end;
            margin: 0;
        }
        button:hover {
            cursor: pointer;
            @include buttons-style(160px, 40px, 1em, 'true');
        }
        span {
            grid-area: rights;
            align-self: center;
            justify-self: end;
            @include texts($letter-color, 0.8em, bold);
        }
    }
    @include breakpoint(desktop-lg) {
        padding: $wrapper-space*2 $wrapper-space*10;
        gap: 0px $wrapper-space*5;
        &__social-media {
            ul li a img{
                width: $wrapper-space*1.5;
            }
        }
        &__info-links {
            &--first {
                ul li a {
                    @include texts($default-bkcolor, 0.8em, bold);
                }
            }
        }
        button {
            @include buttons-style(180px, 45px, 0.8em, 'false');
        }
        button:hover {
            @include buttons-style(220px, 55px, 1em, 'true');
        }
        span {
            @include texts($letter-color, 0.8em, bold);
        }
    }
}