.footer {
    width: 100%;
    background-color: $primary1;
    text-align: center;
    padding: $wrapper-space*2;
    &__social-media {
        width: 100%;
        color: #fff;
        text-align: center;
        margin: 0.5em 0;
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            li {
                list-style: none;
                padding: 0.5em 0.5em;
                -webkit-user-select:none;
                -moz-user-select:none;
                a {
                    text-decoration: none;
                    @include texts($default-bkcolor, 0.8em, bold);
                }
            }
        }
    }
    &__info-links {
        @extend .footer__social-media;
        ul {
            display: block;
            li {
                padding: 0.3em 0;
            }
        }
    }
    button {
        margin-bottom: 1.5em;
        @include buttons-style(160px, 40px, 0.8em);
    }
    span {
        display: block;
        @include texts($letter-color, 0.7em, bold);
    }
    @include breakpoint(laptop) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "logo infoMenu button"
                            "socials infoMenu rights";
        padding: $wrapper-space*2 $wrapper-space*5;
        svg {
            grid-area: logo;
            align-self: center;
            justify-self: start;
        }
        &__social-media {
            grid-area: socials;
            align-self: start;
            justify-self: start;
            ul {
                justify-content: flex-start;
            }
        }
        &__info-links {
            grid-area: infoMenu;
        }
        button {
            grid-area: button;
            align-self: end;
            justify-self: end;
        }
        span {
            grid-area: rights;
            align-self: start;
            justify-self: end;
            @include texts($letter-color, 0.8em, bold);
        }
    }
    @include breakpoint(desktop-lg) {
        padding: $wrapper-space*2 $wrapper-space*10;
    }
}