@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');

$font: 'Public Sans', sans-serif;
$primary1: hsl(233, 26%, 24%);
$primary2: hsl(136, 65%, 51%);
$primary3: hsl(192, 70%, 51%);
$default-bkcolor: hsl(0, 0%, 100%);
$primary-bkcolor: hsl(0, 0%, 98%);
$secondary-bkcolor: hsl(220, 16%, 96%);
$letter-color: hsl(233, 8%, 62%);
$wrapper-space: 1em;

@mixin texts($color, $size, $font-weight) {
    color: $color;
    font-weight: $font-weight;
    font-size: $size;
}
@mixin buttons-style($width, $height, $text-size, $flag) {
    width: $width;
    height: $height;
    border: none;
    border-radius: 25px;
    @include texts($primary-bkcolor, $text-size, 400);
    @if $flag == 'false' {
        background-image: linear-gradient(to right, $primary2 , $primary3);
    } @else {
        background-image: linear-gradient(to right, hsla(136, 65%, 51%, 0.5) , hsla(192, 70%, 51%, 0.5));
    }
}

html {
    overflow-x: hidden;
}

body {
    position: relative;
    font-size: 18px!important;
    font-family: $font;
    overflow: hidden;
}