.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: $default-bkcolor;
    padding: 1.5em 1em;
    .header-wrapper{
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0));
        z-index: 1;
        &__menu {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 90%;
            height: 280px;
            text-align: center;
            padding: 10px 0;
            margin: 20px 5%;
            border-radius: 5px;
            background-color: $default-bkcolor;
            li {
                list-style: none;
            }
            li a{
                text-decoration: none;
                @include texts($letter-color, 1rem, bold);
            }
        }
    }
    &__icon-menu {
        width: 40px;
        background: url('../assets/icon-hamburger.svg') no-repeat center;
    }
    &__icon-menu.expanded {
        background: url('../assets/icon-close.svg') no-repeat center;
    }
}