.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: $default-bkcolor;
    padding: $wrapper-space 1.5em;
    z-index: 3;
    .header-wrapper{
        display: none;
        position: absolute;
        top: 55px;
        left: 0;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0));
        z-index: 1;
        &__menu {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 90%;
            height: 280px;
            text-align: center;
            padding: 10px 0;
            margin: 20px 5%;
            border-radius: 5px;
            background-color: $default-bkcolor;
            li {
                list-style: none;
            }
            li a{
                text-decoration: none;
                @include texts($letter-color, 1em, bold);
            }
        }
        @include breakpoint(laptop) {
            display: block;
            position: relative;
            top: 0;
            left: 0;
            width: auto;
            height: auto;
            background-image: none;
            z-index: 0;
            &__menu {
                flex-direction: row;
                width: auto;
                height: auto;
                padding: 0;
                margin: 0;
                border-radius: 0px;
                li {
                    padding: 0 0.5em;
                }
            }
        }
    }
    &__icon-menu {
        width: 40px;
        background: url('../assets/icon-hamburger.svg') no-repeat center;
        margin: 0;
        @include breakpoint(laptop) {
            display: none;
        }
    }
    &__icon-menu.expanded {
        background: url('../assets/icon-close.svg') no-repeat center;
    }
    button {
        display: none;
    }
    @include breakpoint(tablet) {
        padding: $wrapper-space $wrapper-space*3;
    }
    @include breakpoint(laptop) {
        height: 60px;
        padding: 0 $wrapper-space*5;
        align-items: center;
        img {
            width: 130px;
            height: 25px;
        }
        .header-wrapper {
            height: 100%;
            &__menu {
                height: 100%;
                li {
                    display: flex;
                    align-items: center;
                    height: 100%;
                }
                li:hover {
                    border-bottom: 5px solid $primary2;
                    cursor: pointer;
                    a {
                        @include texts(black, 1.2em, bold);
                    }
                }
            }
        }
        &__icon-menu {
            display: none;
        }
        button {
            display: block;
            margin: 0;
            padding: 0;
            @include buttons-style(140px, 35px, 0.8em, 'false');
        }
        button:hover {
            cursor: pointer;
            @include buttons-style(140px, 35px, 0.8em, 'true');
        }
    }
    @include breakpoint(desktop-lg) {
        height: 80px;
        padding: 0 $wrapper-space*10;
        img {
            width: 130px;
            height: 25px;
        }
        .header-wrapper {
            &__menu li a {
                @include texts($letter-color, 1em, bold);
            }
        }
        button {
            @include buttons-style(160px, 45px, 1em, 'false');
        }
        button:hover {
            cursor: pointer;
            @include buttons-style(160px, 45px, 1em, 'true');
        }
    }
}