main {
    width: 100%;
    height: auto;
    max-width: 100%;
    overflow: hidden;
    background-color: $primary-bkcolor;
}
.main-wrap {
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, 300px);
    padding: 0 $wrapper-space;
    margin-bottom: 50px;
    &__images {
        position: relative;
        margin: 0 -1em;
        margin-bottom: 20px;
        background: url('../assets/image-mockups.png') center bottom no-repeat,
        url('../assets/bg-intro-mobile.svg') center no-repeat;
        background-size: 325px, cover;
    }
    &__intro {
        text-align: center;
        margin-top: 20px;
        h1 {
            @include texts($primary1, auto, bold);
        }
        p {
            @include texts($letter-color, 0.8em, bold)
        }
        button {
            width: 170px;
            height: 45px;
            margin: 15px 0;
            background-image: linear-gradient(to right, $primary2 , $primary3);
            border: none;
            border-radius: 20px;
            padding: 10px 15px;
            @include texts($primary-bkcolor, 1em, 400);
        }
    }
}