main {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 100%;
    background-color: $primary-bkcolor;
    overflow: hidden;
}
.main-wrap {
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, 300px);
    padding: 0 $wrapper-space;
    margin-bottom: 50px;
    &__images {
        position: relative;
        margin: 0 -1em;
        margin-bottom: 20px;
        background: url('../assets/image-mockups.png') center bottom no-repeat,
        url('../assets/bg-intro-mobile.svg') center no-repeat;
        background-size: 325px, cover;
    }
    &__intro {
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
        h1 {
            @include texts($primary1, auto, bold);
        }
        p {
            @include texts($letter-color, 0.8em, bold)
        }
        button {
            margin: 15px 0;
            padding: 10px 15px;
            @include buttons-style(170px, 45px, 1em);                
        }
    }
    @include breakpoint(tablet) {
        grid-template-columns: 1fr 380px;
        grid-template-rows: 350px;
        grid-template-areas: "info img";
        padding: 0 $wrapper-space*3;
        margin: 0;
        &__images {
            grid-area: img;
            margin-right: -3em;
            margin-bottom: 0;
            background: url('../assets/bg-intro-desktop.svg') no-repeat;
            background-size: 180%;
            background-position: left -40px top -220px;
        }

        &__intro {
            display: flex;
            justify-content: center;
            text-align: left;
            grid-area: info;
            h1 {
                @include texts($primary1, 1.5em, bold);
            }
            p {
                @include texts($letter-color, 0.6em, bold)
            }
            button {
                margin: 15px 0;
                padding: 10px 15px;
                @include buttons-style(170px, 45px, 1em);                
            }
        }
    }
    @include breakpoint(tablet) {
        padding: 0 $wrapper-space*5;
        &__images {
            margin-right: -5em;
        }
    }
    @include breakpoint(desktop-lg) {
        grid-template-rows: 650px;
        padding: 0 $wrapper-space*10;
        &__images {
            margin-right: -10em;
        }
    }
}
.images-secondary {
    display: none;
}
@include breakpoint(tablet) {
    .images-secondary {
        display: block;
        position: absolute;
        width: 300px;
        height: 400px;
        top: 20px;
        right: 40px;
        background: url('../assets/image-mockups.png') center center no-repeat;
        background-size: 100%;
    }
}