main {
    width: 100%;
    height: auto;
    max-width: 100%;
    background-color: $primary-bkcolor;
    overflow-x: hidden;
    .images-secondary {
        display: none;
    }
    @include breakpoint(tablet) {
        .images-secondary {
            display: block;
            position: absolute;
            width: 400px;
            height: 500px;
            top: -10px;
            right: -70px;
            background: url('../assets/image-mockups.png') no-repeat;
            background-size: 100%;
        }
    }
}
.main-wrap {
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, 300px);
    padding: 0 $wrapper-space;
    margin-bottom: 50px;
    &__images {
        position: relative;
        margin: 0 -1em;
        margin-bottom: 20px;
        background: url('../assets/image-mockups.png') center bottom no-repeat,
        url('../assets/bg-intro-mobile.svg') center no-repeat;
        background-size: 325px, cover;
    }
    &__intro {
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
        h1 {
            @include texts($primary1, auto, bold);
        }
        p {
            @include texts($letter-color, 0.8em, bold)
        }
    }
    @include breakpoint(tablet) {
        grid-template-columns: 1fr 380px;
        grid-template-rows: 350px;
        grid-template-areas: "info img";
        padding: 0 $wrapper-space*3;
        margin: 0;
        &__images {
            grid-area: img;
            margin-right: -3em;
            margin-bottom: 0;
            background: url('../assets/bg-intro-desktop.svg') no-repeat;
            background-size: 180%;
            background-position: left -40px top -220px;
        }

        &__intro {
            display: flex;
            justify-content: center;
            text-align: left;
            grid-area: info;
            h1 {
                @include texts($primary1, 1.5em, bold);
            }
            p {
                @include texts($letter-color, 0.6em, bold)
            }
        }
    }
    @include breakpoint(desktop-lg) {
        grid-template-rows: 650px;
    }
}
button {
    width: 170px;
    height: 45px;
    margin: 15px 0;
    background-image: linear-gradient(to right, $primary2 , $primary3);
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    @include texts($primary-bkcolor, 1em, 400);
}